<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Add User</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
   <link rel="stylesheet" href="/css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<header>
{% include "chunks/navbar.html.twig" %}
</header>
<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 10%">
        <h4> Add User</h4>
      </div>
    </div>
  <div class="array">
    <!-- The above form looks like this -->
    <form action="/users/add/save" method="POST">
      <div class="row">
        <div class="six columns">
          <label for="limit">Prénom</label>
          <input class="u-full-width input" type="text"  name="first_name">
        </div>
        <div class="six columns">
          <label for="offset">Nom</label>
          <input class="u-full-width input" type="text"  name="last_name">
        </div>
        <div>
          <label for="offset">Email</label>
          <input class="u-full-width input" type="text" name="email">
        </div>
      
      </div>
      <input class="button-primary " type="submit" value="Save">
    </form>
    </div>

         <h5><a  href ='/user' class=" button button-primary">Annuler</a></h5>



  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>